
.Topbar__header {
  backface-visibility: hidden;
  background-color: #fff;
  height: 5.5rem;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 5px;
}
.Topbar__header ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding: .5rem;
  padding: 0;
  position: relative;
  align-items: center;
}
.Topbar__header li{
  margin: 0 8px;
}
.header__logo {
  height: 4.4rem; 
}
.header__logo img{
  height: 100%;
}
.header__search {
  font-size: 20px;
  color: #3f454b;
}
.header__shopping{
  font-size: 20px;
  color: #3f454b;
}