/*.visible {
  overflow-y: hidden;
  transition: opacity 225ms;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  &:before {
    backface-visibility: visible;
    background: radial-gradient(ellipse at center,#7a7a7a 0,#000 100%);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: .75;
    position: fixed;
    left: 0;
    visibility: visible;
    width: 100%;
    z-index: 15;
  }
}*/
.visible {
  overflow-y: hidden;
  transition: opacity 225ms;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  &:before {
    backface-visibility: visible;
    background: radial-gradient(ellipse at center,#7a7a7a 0,#000 100%);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: .75;
    position: fixed;
    left: 0;
    visibility: visible;
    width: 100%;
    z-index: 15;
  }

  @media screen and (min-height: 100vh) {
    right: 0;
    width: 375px;
  }
}

.search {
  background: white;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;

  &__title {
    color: #474646;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 2rem;
  }
  
  &__title--text {
    font-size: 20px;
    color: #3f454b;
  }

  &__back--button {
    font-size: 20px;
    color: #3f454b;
    cursor: pointer;    
  }

  &__form {
    width: 100%;
  }
  &__input {
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    font-weight: 600;
    height: auto;
    padding: 1rem;
    width: 100%;

    &:focus {
      box-shadow: 0 0 1px 0 ;
    }

    &::placeholder {
      color: black;
    }
  }

  
}