.card{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;

  &__poster {
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
  }
  &__pic {
    width: 100%;
    height: auto;
    transition: transform 0.3s;    
  }
  &__pic:hover {
    transform: scale(1.2);
  }

  &__promo {
    background: #41414d;
    color: #fff;
    width: 15%;
    height: auto;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
  }

  &__description{
    padding: 10px 5px;
    width: 100%;
    background-color:#d8d8d8;
  }

  &__name {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .5rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  &__pricing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__price {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: red;
    text-decoration: line-through;

    &--promo {
      color: #000;
      margin: 0;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .card {
      width: 50%;
    }
  }
  
  @media (max-width: 426px) {
    .card {
      width: 100%;
    }
  }
}