.bag {
	width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px 10px;

	&__title {
		color: #474646;
		font-size: 1.6rem;
		font-weight: 800;
		width: 100%;
	}
	&__title--text {
			font-size: 20px;
			align-items: center;
			color: #3f454b;
	}

	&__back--button {
			font-size: 20px;
			color: #3f454b;
			cursor: pointer;
			right: auto; 
	}
}